
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE / Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Optional: model or dataset folders if you don't want to include them
# model/
# dataset/
